body {
margin: 0;
height: 100vh;
width: 100vw;
display: flex;
justify-content: center;
align-items: center;
background-image: url("../src/pictures/BackgroundPicture.png");
background-size: cover;
background-position: center;
}
